<div id="container">
	<h2 id="title">WebRTC first example</h2>

    <div id="dialler" data-active="false">
      	<p><strong>REMOTE:</strong></p>
      	<video id="remote-video" autoplay></video>

      	<p><strong>LOCAL:</strong></p>
      	<video id="local-video" autoplay></video>
    </div>
	
	<button id="dial">Call</button>
	
    <div id="messages">
    </div>
	
</div>
